<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="课程详情">
  <ion-content class="">
    <div>
      <ion-item class="item-divider-android" style="background: #0c60ee; color: #ffffff;">上午</ion-item>
      <ion-list>
        <ion-item>1：大物<br>
        上课地点：教学楼 A208<br>
        讲师： 王浩
      </ion-item>
      <ion-item>2：线性代数<br>
        上课地点：教学楼 A101<br>
        讲师： 谢娜娜
      </ion-item>
      </ion-list>
    </div>
    <div style="margin-top: 30px;">
      <ion-item class="item-divider-android" style="background: #0c60ee; color: #ffffff;">下午</ion-item>
      <ion-list>
        <ion-item>1：汇编<br>
          上课地点：实验楼 B212<br>
          讲师： 柳柳
        </ion-item>
        <ion-item>2：数据机构<br>
          上课地点：实验楼 A101<br>
          讲师： 郝峰
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
